<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<%= link_to 'sign out', destroy_user_session_path,
method: :delete %>
<!-- # <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> -->
</div>
